@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.header-top {
    padding-top: 14px;
    padding-bottom: 9px;
    border-bottom: 1px solid#FEC80B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top-logo .header-top-desc {
    border-left: 2px solid #FEC80B;
    padding-left: 8px;
    width: 200px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 61px;
}

.header-top-right-desc {
    text-align: right;
}

.right-top-desc {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}

.right-top-p {
    color: #A1A1A1;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;

}

.top-right-call {
    display: flex;
    align-items: center;
    gap: 24px;
}

.top-right-call p {
    color: #A1A1A1;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    text-align: right;
}

.top-right-call span {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #FEC80B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 18px;
}

.header-bottom-servises {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header-bottom-servises ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.header-bottom-servises button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: #FEC80B;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.8px;
    border: none;
    cursor: pointer;
}

.header-bottom-servises a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}

.header-bottom-search {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-bottom-search span {
    max-width: 312px;
    border: 1px solid #FEC80B;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 4px 12px;
}

.header-bottom-search input {
    border: none;
    outline: none;
}

.search-bottom {
    display: none;
}

.hero {
    height: 566px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url(./images/background-image.png);
    background-size: 50% 50%, cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-info {
    padding-top: 136px;

}

.hero-info h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
    width: 500px;
}

.hero-info p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 16px;
    width: 452px;
}

.hero-buttons {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}


.hero-buttons :first-child {
    padding: 13px 30px;
    background-color: #FEC80B;
    color: #000000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    border: 2px solid#FEC80B;
}

.hero-buttons :last-child {
    padding: 13px 30px;
    border: 2px solid #FEC80B;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
}

.hero-bottom-img {
    width: 112px;
    position: absolute;
    bottom: 16px;
    left: 48%;

}

.left {
    position: absolute;
    left: 0px;
    top: 50%;
}

.right {
    position: absolute;
    right: 0px;
    top: 50%;
}

.section-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.section-desc h2 {
    color: #000000;
    font-size: 42px;
    font-weight: 500;
    line-height: 50.4px;
    width: 208px;

}

.section-right {
    display: flex;
    align-items: center;
    gap: 10px;

}

.section-right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #A1A1A1;

}

.section-right span {
    width: 39px;
    padding: 7px 8px;
    border: 1px solid#000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 32px;
    margin-bottom: 158px;
}

.truck-card {
    box-shadow: 0px 0px 24px 0px #9696961F;
    width: 312px;
    padding: 18px 14px 14px 14px;
    border-radius: 8px;
}

.truck-card h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #000000;
}

.truck-card p {

    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #a1a1a1;

}

.truck-card img {
    margin-left: 60px;
}



@media screen and (max-width:1320px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-top-right {
        gap: 41px;
    }

    .top-right-call {
        gap: 16px;
    }

    .header-bottom-servises ul {
        gap: 25px;
    }

    .hero-info {
        margin-left: 15px;
    }

    .hero-bottom-img {
        width: 112px;
        position: absolute;
        bottom: 16px;
        left: 48%;

    }

    .truck-card {
        width: 23%;
    }

    .truck-card img {
        margin-left: 15px;
        width: 180px;
    }
}

@media screen and (max-width:992px) {
    .header-top-logo .header-top-desc {
        display: none;
    }

    .right-top-desc {
        display: none;
    }

    .right-top-p {
        width: 161px;
    }

    .header-top-right {
        gap: 25px;
    }

    .top-right-call {
        gap: 12px;
    }

    .header-bottom-servises ul {
        display: none;
    }

    .hero {
        height: 768px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url(./images/bg2.png);
        background-size: 50% 50%, cover;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
    }

    .hero-info {
        margin-left: 24px;
    }

    .truck-card {
        width: 31%;
    }

    .truck-card4 {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .right-top-p {
        display: none;
    }

    .top-right-call p {
        display: none;
    }

    .hero {
        height: 340px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url(./images/bg3.png);
        background-size: 50% 50%, cover;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
    }

    .hero-info h1 {
        font-size: 30px;
        font-weight: 800;
        line-height: 38px;
        text-align: left;
        color: #FFFFFF;
        width: 288px;
    }

    .hero-info p {
        display: none;
    }

    .hero-buttons {
        margin-top: 26px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        width: 160px;
    }

    .hero-buttons :first-child {
        width: 157px;
        font-weight: 400;
        line-height: 17.6px;
        font-size: 16px;
        padding: 11px 10px;



    }

    .hero-buttons :last-child {
        width: 157px;
        font-weight: 400;
        line-height: 17.6px;
        font-size: 16px;
        padding: 11px 10px;
    }

    .hero-info {
        padding-top: 30px;

    }

    .hero-bottom-img {
        width: 92px;
    }

    .left {
        width: 20px;
    }

    .right {
        width: 20px;
    }

    .truck-card3 {
        display: none;
    }

    .truck-card {
        width: 48%;
    }
}

@media screen and (max-width:576px) {
    .header-bottom-search span {
        display: none;
    }

    .search-bottom {
        display: block;
    }

    .cards {
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .truck-card {
        width: 80%;
    }

    .section-right span {
        display: none;
    }

    .section-right h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 33.6px;
      

    }
}