.navbar_frame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 145px;
  background-color: rgba(68, 50, 151, 1);
  cursor: pointer;
}

.navbar_frame .container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;
}

.navbar_frame .container .navbar_up {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_up .navbar_search {
  width: 651px;
  height: 50px;

  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.navbar_search .search_box {
  padding: 10px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid rgba(214, 214, 214, 1);
}

.category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;
}

.navbar_frame .search_icon {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0px 6px 6px 0px;
  background: rgba(245, 195, 75, 1);
}

.navbar_up .nav_top_menu {
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
}

.top_menu_box .box_icon_box {
  position: relative;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}

.top_menu_box .box_info_box {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.box_info_box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box_info_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box_icon_box .backet_count {
  position: absolute;
  top: 0;
  right: 0;

  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(245, 195, 75, 1);

  color: rgba(11, 30, 64, 1);

  font-family: Jost;
  font-style: Bold;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .container .navbar_down {
  border-top: 2px solid #5742a2;
  margin-top: 20px;
}

.navbar_down .navbar_down_menu_box {
  margin-top: 10px;
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_down .browse_box {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: solid 2px #5742a2;
}

.browse img {
  width: 20px;
  height: 18px;
}

.browse_box span {
  margin-left: 10px;

  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_down_menu_box .navbar_route_menu {
  width: 670px;
  display: flex;
  flex-direction: row;
}

.navbar_route_menu a {
  margin-right: 10px;
  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;

  text-align: left;
  color: white;
}

.navbar_route_menu a:hover {
  color: #f5c34b;
}

.sorting_menu span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
